@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'larken';
  src: url('../fonts/Larken-Regular.ttf');
}
@font-face {
  font-family: 'inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf');
}

body {
  background-color: #e7e6e0;
  font-family: 'Inconsolata', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'larken', serif;
}
