@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'larken';
  src: url('../fonts/Larken-Regular.ttf');
}
@font-face {
  font-family: 'inconsolata';
  src: url('../fonts/Inconsolata-Regular.ttf');
}

body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Inconsolata', sans-serif;
}
